recursive-include pixiedust_health templates/*
recursive-include pixiedust_health templates/*/*
recursive-include pixiedust_health resources/*
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig